/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.qr-container{
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: white;
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
#qr-input{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
}
#qr-btn{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
#qr-img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
.container{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
